<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Fragment>
		
		<!-- Product Components Group -->
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="WindowsTerminalShortcut" Guid="{c03ad8e9-9dc5-45fe-b03c-efc2066fa4b8}">
				<File Id="WindowsTerminalShortcutExecutable" Name="Windows Terminal Shortcut.exe" Source="$(var.WindowsTerminalShortcut.TargetDir)Windows Terminal Shortcut.exe"/>
				
				<RegistryValue Id="ApplicationKey" Root="HKCU" Key="Software\!(loc.ProductName)" Name="Application" Value="1" Type="integer" KeyPath="yes" />

				<RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall"/>
			</Component>

			<Component Id="WindowsTerminalShortcutRegistryStartup" Guid="{B394F02F-50EB-44EB-BDDE-70C39250B24C}">
				<RegistryValue
					Id="RegStartup"
					Root="HKCU"
					Key="Software\Microsoft\Windows\CurrentVersion\Run"
					Name="WindowsTerminalShortcut"
					Value="&quot;[INSTALLFOLDER]Windows Terminal Shortcut.exe&quot;"
					Type="string"
					KeyPath="yes"
					/>
			</Component>
			
			
		</ComponentGroup>

		<ComponentGroup Id="AppShortcutComponents" Directory="ProgramMenuFolder">
			<Component Id="AppShortcutComponent" Guid="{7DA18369-1CC2-43FC-9104-3B827D21AAEA}">

				<Shortcut Id="MainAppShortcut"
                  Name="!(loc.ProductName)"
                  Target="[INSTALLFOLDER]Windows Terminal Shortcut.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico">


					<ShortcutProperty Key="System.AppUserModel.ID" Value="Tudor3510.WindowsTerminalShortcut.385bds23"/>

				</Shortcut>

				<RegistryValue Id="RegShortcutKey" Root="HKCU" Key="Software\!(loc.ProductName)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />

				<RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall"/>

			</Component>

		</ComponentGroup>
	
	</Fragment>
	
	
</Wix>
