<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

			<!-- The menu folder, where shortcut will be installed -->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="InstallProgramMenuFolder" Name="!(loc.ProductName)" />
			</Directory>
			
			<!-- %localappdata%\Programs folder -->
			<Directory Id="LocalAppDataProgramsFolder">
				<Directory Id="INSTALLFOLDER" Name="!(loc.ProductName)" />
			</Directory>
			
			
		</Directory>
	
		<!-- Setting the directory with the id "LocalAppDataProgramsFolder" to point to %localappdata%\Programs !!! I am not sure that %localappdata%\Programs exists on every machine !!!! s-->
	<SetDirectory Id="LocalAppDataProgramsFolder" Value="[LocalAppDataFolder]Programs" />
	</Fragment>
	
	
</Wix>
