<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

			<!-- The menu folder, where shortcut will be installed -->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="InstallProgramMenuFolder" Name="!(loc.ProductName)" />
			</Directory>
			
			<!-- %localappdata%\Programs folder -->
			<Directory Id="LocalAppDataFolder">
				<Directory Id="LocalAppDataProgramsFolder" Name="Programs">
					<Directory Id="INSTALLFOLDER" Name="!(loc.ProductName)" />
				</Directory>
			</Directory>
			
			
		</Directory>
	</Fragment>
	
	
</Wix>
