<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product		Id="{14470395-b42d-4ede-af68-4f8f9115a081}"
					Name="!(loc.ProductName)"
					Language="1033"
					Version="0.0.1.0"
					Manufacturer="!(loc.Company)"
					UpgradeCode="{da440121-9fac-48e3-8ce3-c835b2938b2d}">

		<!-- Language 1033 is English-->
		<!-- The upgrade code should remain the same between the upgrades-->


		<Package	InstallerVersion="200"
					Compressed="yes"
					InstallScope="perMachine"
					Platform="$(var.Platform)"
					Manufacturer="!(loc.Company)"
					Description="!(loc.Description)"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of !(loc.ProductName) is already installed." />

		<MediaTemplate
					EmbedCab="yes"
					/>

		<!-- Define main app icon -->
		<Icon Id="icon.ico" SourceFile="$(var.WindowsTerminalShortcut.ProjectDir)icon.ico" />

		<!-- Use the icon.ico for this installer (shows up in Add/Remove programs)-->
		<Property Id="APPPRODUCTICON">icon.ico</Property>

		<!-- Create a basic UI for the installer -->
		<UIRef Id="WixUI_Minimal"/>
		
		<Feature	Id="ProductFeature"
					Title="!(loc.ProductName)"
					Level="1">

			<ComponentGroupRef Id="ProductComponents" />

		</Feature>
		
	</Product>
	
</Wix>
