<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product		Id="{14470395-b42d-4ede-af68-4f8f9115a081}"
					Name="!(loc.ProductName)"
					Language="1033"
					Version="0.0.1.0"
					Manufacturer="!(loc.Company)"
					UpgradeCode="{da440121-9fac-48e3-8ce3-c835b2938b2d}">

		<!-- Language 1033 is English-->


		<Package	InstallerVersion="200"
					Compressed="yes"
					InstallScope="perMachine"
					Platform="$(var.Platform)"
					Manufacturer="!(loc.Company)"
					Description="!(loc.Description)"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of !(loc.ProductName) is already installed." />

		<MediaTemplate
					EmbedCab="yes"/>

		<Feature	Id="ProductFeature"
					Title="!(loc.ProductName)"
					Level="1">

			<ComponentGroupRef Id="ProductComponents" />

		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="!(loc.ProductName)" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="WindowsTerminalShortcut.exe" Guid="{c03ad8e9-9dc5-45fe-b03c-efc2066fa4b8}">
				<File Id="WindowsTerminalShortcut.exe" Name="WindowsTerminalShortcut.exe" Source="$(var.WindowsTerminalShortcut.TargetDir)WindowsTerminalShortcut.exe" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
